html, body {
    height: 200%;
    margin: 0px;
    background-color: #1E1E1E;
}

h1 {
    color: #F0ECF2;
    text-align: center;
    font-size: 100px;
    font-family: monospace;
}

/*Navigation Bar*/
ul.topnav {
    position: fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E1E1E;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    opacity: 1;
    transition: 0.3s;
}

ul.topnav li a:hover:not(.active) {background-color: #B4A0BA;}

ul.topnav li a.active {background-color: #B4A0BA;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

